doctype html
// .html file generated automatically, edit index.jade or data.yaml instead and compile with 'gulp'
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Piesome
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,500', rel='stylesheet', type='text/css')
    link(href='css/quick.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
  body
    header
      h1 Piesome
      h2 Games & Stuff
    main
      h2#people Who we are
      article
        ul.list
          for person in people
            li
              img.avatar(src=person.avatar)
              .content
                span.name= person.name
                != md(person.description)
                if person.links.home
                  a.icon-home(href=person.links.home) Home
                  |  &bull;
                if person.links.github
                  a.icon-github(href=person.links.github) GitHub
              .clearfix
      if projects
        h2#projects Things we have partaken in
        article
          ul.list
            for project in projects
              li
                img.avatar(src=project.avatar)
                .content
                  span.name= project.name
                  != md(project.description)
                  if project.links && project.links.home
                    a.icon-home(href=project.links.home) Play
                  if project.links && project.links.github
                    a.icon-github(href=project.links.github) GitHub
                .clearfix
    footer
      a.icon-github.gh(href='https://github.com/piesome')
      br
      | Site © 2014-2017 pieso.me
      br
      | Uses
      a(href='http://fortawesome.github.io/Font-Awesome/')  Font Awesome
